<<<<<<< HEAD
@import "tailwindcss";

:root {
  --st-navy: #064680;
  --st-teal: #58bbc2;
  --uri-plum: #31245a;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

h1, h2, h3, h4 {
  font-family: Georgia, 'Times New Roman', serif; /* close to Lora */
  font-weight: 700;
}
=======
@import "tailwindcss";
>>>>>>> c9801eff206cd1ff88e6cf644b01ec511485e1f4
