---
import '../styles/global.css';
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nikki Cates</title>
  </head>
  <body class="bg-black text-white min-h-screen">
    <slot />
  </body>
</html>